extends layout 
block css 
block content 
    h1 #{ title }
    form(method='POST')
        fieldset.form-group
            label Ability:
                input#name.form-control(type='text' placeholder='Fireball' name='name' required value=(ability === undefined ? '' : ability.name))
            if ability
                if ability.descriptions.length !== 0
                    each description in ability.descriptions
                        label Description: 
                            textarea(name='descriptions', cols='30', rows='10') #{ description }
            else
                label Description: 
                    textarea(name='descriptions', cols='30', rows='10')

            button(type='button' class='add') Add Description 
        button(type='submit') Submit
    if errors
        ul 
            each error in errors 
                li #{ error.msg }
    script(type='module' src='/javascript/addDescription.mjs') 
