extends layout
block css 
block content 
    h1 #{ title }: #{ ingredient.name }
    if sequences.length
        div(style='margin-left:20px;margin-top:20px')
            p #[strong The following sequences uses this ingredient:]
            ul
                each sequence in sequences
                    li 
                        +link(sequence.url, sequence.name)
                
    p Do you really want to delete this Ingredient?
    form(method='POST')
        div.form-group
            input.form-control(type='hidden', name='ingredient_id', value=ingredient._id ) 
        button.btn.btn-primary(type='submit') Submit