extends layout 
block css 
block content 
    h1 #{ title }
    form(method='POST' enctype="multipart/form-data")
        fieldset.form-group
            label #[strong Name:]
                input(type='text' name='name' placeholder='Sefirah Castle' required value=(sefirah ? sefirah.name : ''))
            label #[strong Image:]
                input(type='file' name='image')
        fieldset.form-group
            label #[strong Possessor:]
                input(type='text' name='possessor' placeholder='Klein Moretti' required value=(sefirah ? sefirah.possessor : ''))
            label #[strong Description:]
                textarea(name='description' cols='30' rows='10') #{ sefirah && sefirah.description }
        button(type='submit') Submit
    if errors
        ul 
            each error in errors 
                li #{ error.msg }  
