extends layout 
block css 
block content 
    h1 #{ title }
    div
        if supplementaryIngredients.length
            each ingredient in supplementaryIngredients
                div 
                    +link(ingredient.url)
                        p #[strong Name:] #{ ingredient.name }
                    if ingredient.image.url 
                        img(src=ingredient.image.url alt=ingredient.name)
        else 
            p There are no ingredients.